Openai-realtime-api/Python/venv/
Openai-realtime-api/Python/credentials.txt
Openai-realtime-api/NodeJS/node_modules/
Openai-realtime-api/NodeJS/package-lock.json
Openai-realtime-api/NodeJS/credentials.txt