Openai-realtime-api/Python/venv/
Openai-realtime-api/Python/credentials.txt
Openai-realtime-api/NodeJS/node_modules/
Openai-realtime-api/NodeJS/package-lock.json
Openai-realtime-api/NodeJS/credentials.txt
Deepgram-voiceagent-api/NodeJS/node_modules/
Deepgram-voiceagent-api/NodeJS/package-lock.json
Deepgram-voiceagent-api/NodeJS/credentials.txt
Deepgram-voiceagent-api/Python/venv/
Deepgram-voiceagent-api/Python/credentials.txt